.content {
    display: flex;
    margin: 20px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
}

.card {
    margin: 0 auto;
    width: 100%;
    background-color: #fbfbfbe7;
}

#formContent {
    padding: 30px;
    text-align: center;
    color: #272727;
}

#footer {
    padding: 10px;
    text-align: center;
    margin: 0px 37% 1% 37%;
    // -webkit-border-radius: 0 0 10px 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: #272727;
    color: #ffffff;
}